body{
    margin:0;
    display: grid;
    grid-template-areas:'naruto naruto naruto naruto'
                        'sasuke sasuke sasuke sasuke'
                        'sakura sakura kakashi kakashi'
                        'minato minato minato minato';
   grid-template-rows: 20vh 15vh 50vh 30vh;
   grid-gap: 5px;
   background-color: black;
}

header div img{
    height: 100%;
    width: 100px;
}

header div{
    background-color: #a5a8b1;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

header{
    grid-area: naruto;
    background-color: black;
    display: flex;
    justify-content: center;
}

nav{
    grid-area: sasuke;
    background-color: #f67834;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Roboto';
}

nav a:hover{
    color: white;
}
section{
    grid-area: sakura;
    background-color: green;
    display: flex;
    justify-content: center;
    grid-area: 100%;
}
section img:hover{
    width: 300px;
}

aside{
    grid-area: kakashi;
    background-color: rgb(8, 8, 114);
    display: flex;
    text-align: center;
    padding: 0 70px;
}
aside p span{
    font-style: italic;
    color: #f67834;
}
aside p{
    color: white;
    font-family: 'Roboto';

}
footer{
    grid-area: minato;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

div{
    justify-content: space-around;
    display: flex;
    justify-items: center;
}
